@import url(styles/header.css);
@import url(styles/welcome.css);
@import url(styles/about.css);
@import url(styles/service.css);
@import url(styles/prices.css);
@import url(styles/contact-us.css);
@import url(styles/footer.css);

@font-face {
    font-family: "Inika"; 
    src: url("./assets/fonts/Inika.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inika";
    src: url("./assets/fonts/Inika-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter"; 
    src: url("./assets/fonts/Inter24pt-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter"; 
    src: url("./assets/fonts/Inter28pt-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Inika", sans-serif;
  --third-family: "Roboto", sans-serif;
}

.container {
    width: 85%;
    margin: 0 auto;
    height: 100%;
    max-width: 1220px;
}

a {
    color: #010201;
    text-decoration: none;
    font-size: 16px;
}

ul, li, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
    list-style: none;
}



@media screen and (max-width: 768px) {
    .container {
        width: 87%;
    }
}